.navbar{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #0B486B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    flex:1;
}
.link:hover {
    color: red !important;
}
a{
    text-decoration: none !important;
}

.navbar_left img{
    width:90px;
    object-fit: contain;
    border-radius: 45px;

}
.navbar_middle {
display: flex;
flex-direction: row;
flex:1;
margin-left: 30%;

}
.navbar_middle div{
    justify-content: space-between;
    margin:10px;
    margin-left: 10px;
    margin-right: 10px;

}
.MenuItem {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke !important;

    padding: 24px 0 16px;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin: 0 10px;
}

.MenuItemActive {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke !important;

    padding: 24px 0 16px;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin: 0 10px;
    border-bottom: 2px solid whitesmoke !important;
}
